.container {
	width: min(550px, 95vw);
	border-radius: 5px;
	border: 1px solid gray;
	margin: 8px;
}

.content {
	text-align: left;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	cursor: pointer;
	padding: 5px 10px;
}

@media only screen and (max-width: 550px) {
	.title {
		font-size: 12px;
	}
}

.title:hover {
	background-color: var(--dark-gray);
}
.active {
	color: var(--blue);
}

.title h2 {
	font-size: min(3.5vw, 18px);
	margin: 0;
}

.icon {
	font-size: 20px;
}

.content {
	padding: 10px;
}

.description {
	padding: 0 10px;
	line-height: 1.2;
}
