.container {
	/* width: 90vw; */
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 10px;
	/* border-top: 2px solid gray; */
	padding-top: 20px;
}

.icons {
	/* margin: 0 auto; */
	font-size: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
	margin-bottom: 20px;
}

.heading {
	text-align: center;
	width: 95vw;
	border-top: 2px solid gray;
	margin: 10px 0;
	padding-top: 10px;
	padding-bottom: 5px;
	color: whitesmoke;
}

.disclaimer {
	text-align: center;
	font-size: 12px;
	font-style: italic;
	width: 95vw;
	border-top: 2px solid gray;
	margin: 10px 0;
	padding-top: 10px;
	padding-bottom: 5px;
	color: whitesmoke;
}

.connect {
	animation: appear ease 6s;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
