.container {
	text-align: center;
	display: flex;
	line-height: 1.5;
	font-size: 1.3rem;
	padding: 10vh 0;
	background-color: var(--background);
	animation: appear ease 5s;
	/* animation-delay: 5s; */
}

@media only screen and (max-width: 550px) {
	.container {
		font-size: 1rem;
	}
}
@media only screen and (max-width: 380px) {
	.container {
		font-size: 0.9rem;
	}
}
.reduce {
	padding-left: 30px;
}

.links {
	white-space: normal;
}

.link {
	background-color: var(--dark-gray);
	padding: 2px;
	border-radius: 4px;
	margin: 2px 5px 2px 2px;
}

.link:hover {
	color: var(--green);
	border-radius: 4px;
	background-color: var(--dark-gray);
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
