.navmenu {
	position: absolute;
	background-color: rgba(69, 69, 69, 0.7);
	z-index: 10;
	top: 60px;
	left: 0px;
	transition: left 0.5s ease-out;
	/* animation: slideAnimation ease 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards; */
}

.hideMenu {
	position: absolute;
	left: -200px;
	top: 60px;
	transition: left 0.5s ease-in;
}

.menuIcon {
	z-index: inherit;
	margin-right: min(15px, 2vw);
	margin-left: min(18px, 2vw);
	padding: 2px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	cursor: pointer;
}

.menuline {
	width: 30px;
	height: 5px;
	background-color: var(--font-color);
	margin: 2px;
	border-radius: 10px;
	/* transform-origin: 0px; */
	transition: all 0.3s linear;
}
.menuIcon:hover {
	background-color: var(--dark-gray);
	box-shadow: 0 0 3px white;
}

.topline {
	transform: rotate(-135deg);
	transform-origin: 17px 7px;
}
.midline {
	transform: rotate(-90deg);
	transform-origin:44% 100%;
	opacity: 0;
}
.bottomline {
	transform: rotate(-45deg);
	transform-origin: 5px -2px;
}

.navitems {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	list-style-type: none;
	padding: 20px 15px;
}

.link {
	color: whitesmoke;
	padding: 6px 11px;
	white-space: nowrap;
}

.link:hover {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	color: var(--green);
}

.link:hover::before {
	content: '{';
	font-size: 22px;
	color: var(--purple);
}

.link:hover::after {
	content: '}';
	font-size: 22px;
	color: var(--purple);
}

.slidout {
	animation: slideAnimation ease 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes slideAnimation {
	0% {
		left: -100px;
	}
	100% {
		left: 0px;
	}
}

@keyframes slideOutAnimation {
	0% {
		left: 0px;
	}
	100% {
		left: -200px;
	}
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
