/* .heading {
	margin: 5px 10px;
} */

.title {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    overflow: hidden;
	border-right: 4px solid yellow; /* The typwriter cursor */
	 /* Keeps the content on a single line */
	white-space: nowrap;
	/* Gives that scrolling effect as the typing happens */
	letter-spacing: 0.05em;
	animation: typing 3s steps(30, end), blink-caret 1s step-end infinite;
}
.name h1 {
    display: inline;
    font-size: inherit;
}
.name {
	font-size: 36px;
	/* margin: 0; */
	color: #fff;
	/* display: flex; */
  /* justify-content: flex-start; */
	/* font-family: monospace; */
}

.code {
	white-space: nowrap;
	font-size: 22px;
    /* margin-bottom: 3px; */
}

@media only screen and (max-width: 780px) {
  .name {
    font-size: 24px;
  }
  .code {
	  font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .name {
    font-size: 18px;
	/* white-space: unset; */

  }
  .code {
	  font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  .name {
	white-space: unset;
  }
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: yellow;
	}
}
