.blue {
	color: var(--blue);
}

.green {
	color: var(--green);
}
.orange {
	color: var(--orange);
}
.red {
	color: var(--red);
}
.yellow {
	color: var(--yellow);
	font-size: 1.1em;
}
.purple {
	font-size: 1.1em;
	/* font-weight: lighter; */
	color: var(--purple);
}

.bullets {
	list-style-type: none;
	padding: 5px;
}
.bullets li:before {
	padding: 5px;
	content: '❖ ';
	color: var(--green)
}
.bullets li {
	display: flex;
	align-items: baseline;
}