.heading {
	padding: 20px 10px 5px;
	font-size: 1.5rem;
	animation: appear ease 5s;

}

.accordion {
	animation: appear ease 6s;
   
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
