.container {
	text-align: center;
}

.heading {
	padding: 20px;
	font-size: 1.3rem;
	animation: appear ease 2s;
	text-align: center;
}

.right {
	white-space: nowrap;
}

.accordion {
	margin-bottom: 20px;
	animation: appear ease 4s;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
