.heading {
	padding: 20px;
	font-size: 1.5rem;
	animation: appear ease 5s;
text-align: center;
}

.accordion {
	animation: appear ease 6s;
   
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
